---
import "../../styles/typography.css";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {
  loadProjectIcon,
  loadShowcaseImages,
} from "../../components/projects/projectAssetLoader";
import { Image } from "astro:assets";
import ProjectPlatformChip from "../../components/projects/ProjectPlatformChip.astro";
import Header from "../../components/Header.astro";
import { render } from "astro:content";
import ProjectShowcaseImages from "../../components/projects/ProjectShowcaseImages.svelte";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;

const Icon = await loadProjectIcon(project.id);
const images = await loadShowcaseImages(project.id);
const ProjectDetails = (await render(project)).Content;
---

<Layout>
  <Header />
  <main>
    <h1>{Icon ? <Icon /> : ""}{project.data.title}</h1>

    <div class="links">
      {
        project.data.links.map((link) => (
          <ProjectPlatformChip platform={link.platform} url={link.url} />
        ))
      }
    </div>
    
    <ProjectShowcaseImages images={images} client:load />

    <div class="readable-typography">
      <p><b>Tools used:</b> {project.data.tools.join(", ")}</p>
      <ProjectDetails />
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 0 2rem;
    padding-bottom: 1rem;
  }

  h1 {
    & :global(svg) {
      height: 0.9em;
      width: auto;
      vertical-align: baseline;
      margin-right: 0.4ch;
    }
  }

  .links {
    display: flex;
    gap: 0.8rem;
  }
</style>
