---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { loadShowcaseImages } from "../../components/projects/projectAssetLoader";
import { Image } from "astro:assets";
import ProjectPlatformChip from "../../components/projects/ProjectPlatformChip.astro";
import Header from "../../components/Header.astro";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;

const images = await loadShowcaseImages(project.id);
const ProjectDetails = (await render(project)).Content;
---

<Layout>
  <Header />
  <main>
    <h1>{project.data.title}</h1>
    <div class="links">
      {
        project.data.links.map((link) => (
          <ProjectPlatformChip platform={link.platform} url={link.url} />
        ))
      }
    </div>
    <div class="showcase-images">
      {images.map((image) => <Image src={image} alt="" />)}
    </div>
    <ProjectDetails />
  </main>
</Layout>

<style>
  main {
    padding: 0 2rem;
    padding-bottom: 1rem;
  }

  .links {
    display: flex;
    gap: 0.8rem;
  }

  .showcase-images {
    display: flex;
    gap: 0.8rem;
    height: 20rem;
    margin: 2rem 0;

    & :global(img) {
      height: 100%;
      width: auto;
    }

    & img:first-child {
      border-top-left-radius: var(--rounded-corner-radius);
      border-bottom-left-radius: var(--rounded-corner-radius);
    }

    & img:last-child {
      border-top-right-radius: var(--rounded-corner-radius);
      border-bottom-right-radius: var(--rounded-corner-radius);
    }
  }

  main :global(p) {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
</style>
