---
import { getCollection } from "astro:content";
import ProjectCard from "../projects/ProjectCard.astro";

const projects = await getCollection("projects");
const previewProjects = projects.slice(0, 3);
---

<section id="projects">
  <h2>Projects</h2>
  <div id="projects-row">
    {previewProjects.map((project) => <ProjectCard project={project} />)}
  </div>
  <a href="/projects" class="see-more">see more</a>
</section>

<style>
  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    padding: 0 var(--landing-page-section-x-pad);
  }

  #projects-row {
    flex: 1;
    max-height: var(--project-row-height);
    margin-bottom: 2rem;
    width: 100%;
    max-width: var(--card-grid-max-width);
    align-self: center;

    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    gap: var(--project-card-spacing);
    padding: 0 var(--landing-page-section-x-pad);

    scroll-snap-type: x mandatory;
  }

  #projects-row > :global(*) {
    flex: 1;
    max-width: var(--project-card-width);

    scroll-snap-align: start;
  }

  @media (max-width: 768px) {
    #projects-row {
      justify-content: flex-start;
    }

    #projects-row > :global(*) {
      flex: 0 0 auto;
      scroll-snap-align: center;
    }

    #projects-row > :global(:first-child) {
      margin-left: var(--landing-page-section-x-pad);
    }

    #projects-row > :global(:last-child) {
      margin-right: var(--landing-page-section-x-pad);
    }
  }
</style>
