---
import { getCollection } from "astro:content";

import BlogCardGrid from "../../components/blog/BlogCardGrid.astro";
import Layout from "../../layouts/Layout.astro";
import GridPageLayout from "@layouts/GridPageLayout.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<GridPageLayout title="Blog">
    <h1 transition:name="blog-heading">Blog</h1>
    <BlogCardGrid posts={posts} class="blog-grid" />
</GridPageLayout>
