:root {
  --primary-color: #5505c6;
  --surface-color: #d6d9f8;
  --dark-color: #000;

  --font-serif: "Bree Serif", serif;
  --font-sans: "Roboto", sans-serif;

  --display-body-font-size: 2rem;

  --rounded-corner-radius: 20px;

  --shadow: 0px 10px 19px 21px rgba(0,0,0,0.1);
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

.card {
  background-color: var(--surface-color);
  border-radius: var(--rounded-corner-radius);
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  &.card {
    text-decoration: none;
    color: inherit;
  }

  &:not(.card) {
    font-family: var(--font-serif);
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;

    color: var(--primary-color);
  }
}

p {
  font-family: var(--font-sans);
  font-style: normal;
  margin: 0;
}

svg {
  stroke: var(--dark-color);
}
