---
import { getCollection } from "astro:content";
import JournalCardGrid from "@components/journal/JournalCardGrid.astro";
import GridPageLayout from "@layouts/GridPageLayout.astro";

const journals = await getCollection("journalMetadata");
---

<GridPageLayout title="Journals">
  <h1 transition:name="journal-heading">Journals</h1>
  <JournalCardGrid journals={journals} />
</GridPageLayout>
