---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>About Me</h1>
        <p>
            Hello there! I'm Mohsen Elsisi, an Egyptian Computer Science student at 
            The Uin
        </p>
    </main>
</Layout>
