<article>
  <h3>blog title!!!</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
</article>

<style>
  article {
    height: min(fit-content, 10rem);

    display: flex;
    flex-direction: column;
    gap: var(--card-content-gap);
  }

  h3 {
    font: var(--card-title-font);
    margin: 0;
  }

  p {
    font: var(--card-body-font);
  }
</style>
