---
import { Image } from "astro:assets";
import myAvatar from "../assets/me.jpg";
---

<header>
  <a href="/" id="avatar">
    <Image src={myAvatar} alt="Mohsen's Avatar" />
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
  </nav>
  <br />
</header>

<style>
  header {
    height: 3.5rem;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    
    font-size: 25px;
    
    a {
      font-family: var(--font-sans);
      text-decoration: none;
      color: var(--dark-color);
    }
  }

  #avatar {
    height: 100%;
    aspect-ratio: 1/1;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }
</style>
