---
import type { CollectionEntry } from "astro:content";

interface Props {
  journal: CollectionEntry<"journalMetadata">;
}

const { id, data } = Astro.props.journal;
const { name, description } = data;
---

<a href={`/journals/${id}`} class="card">
  <h3 transition:name={`journal-title-${id}`}>
    {name}
  </h3>
  <p>{description}</p>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    gap: var(--blog-card-content-gap);

    h3 {
      font: var(--card-title-font);
      margin: 0;
    }

    p {
      font: var(--card-body-font);
    }
  }
</style>
