:root {
  --primary-color: #5505c6;
  --dark-color: #000;
  --font-serif: "Bree Serif", serif;
  --font-sans: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--font-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  font-family: var(--font-serif);
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;

  color: var(--primary-color);
}

p {
  font-family: var(--font-sans);
  font-style: normal;
  margin: 0;
}

svg {
  stroke: var(--dark-color);
}
