---
import "../styles/typography.css";
import type { MarkdownHeading } from "astro";
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import readableDate from "../components/readableDate";
import TocButton from "../components/TocButton.svelte";

interface Props {
  title: string;
  date: Date;
  headings: MarkdownHeading[];
}

const { title, date, headings } = Astro.props;
---

<Layout>
  <Header />
  <TocButton headings={headings} client:load />
  <main class="readable-typography">
    <h1>{title}</h1>
    <span id="byline">
        Written by Mohsen Elsisi, {readableDate(date)}
    </span>
    <slot />
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 768px) {
    main {
      padding: 0 1rem;
    }
  }
</style>
