<div>
    <h2>Contact</h2>
    <p>
        You can Email me at <a href="mailto:mohsenelsisi36@gmail.com"
            >mohsenelsisi36@gmail.com</a
        >
    </p>
    <p>
        My Linkedin is <a
            href="https://www.linkedin.com/in/mohsen-elsisi-b04ba3251/"
            >in/mohsen-elsisi-b04ba3251</a
        >
    </p>
    <p>
        Look at my Github profile <a href="https://github.com/mohsen-w-elsisi"
            >mohsen-w-elsisi</a
        >
    </p>
    <p>
        My phone number and Whatsapp are <a href="tel:+201119564295"
            >+20 111 956 4295</a
        >
    </p>
</div>

<style>
    div {
        color: var(--surface-color);
        background-color: black;
        padding: .5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
</style>
